/* Music Page */

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
button {
    padding: 10px;
    margin: 5px;
    background-color: black; 
    color: white;
    /* border: none; */
    border: 1px solid #323232;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0px 4px 8px 0px rgba(255,255,255,0.2);
}

button:hover {
    background-color: #034547;; 
}

.search-music-form {
    display: flex;
    align-items: flex-start; /* flex-start is set with justify-content, it aligns the items at the start of the main axis */
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

#search-field {
    width: 30%; /* I changed flex-grow, flex-start aand the width to 30% to reduce the size of the search bar as before it was not working*/
    flex-grow: 0; /* changed from 1 to 0 so the element won't grow beyond its original size even if there is extra space available in the flex container. as at 1 every child will set to an equal size inside the container*/
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid #3E3E3E;
    font-size: 14px;
}

.card-grid {
    display: grid; /* use CSS grid layout*/
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* defines the number and width of the columns in a grid layout - the auto-fill part: tells the browser to automatically create as many columns as will fit in the container and each of these columns should have a minimum width of 400px and a maximum width of 1fr | 1fr represents one part of the available space in the grid container - */
    gap: 20px; /* fixed gap between the grid items - I wanted to create a flexible and responsive grid*/
    justify-items: center;
    margin-bottom: 20px;
  }

.card-grid div {
    flex-basis: calc(33.3333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    /* background-color: white; /* finally no*/
    border: 1px solid #ddd;
    border-radius: 5px;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 2px;
}

/*ARTISTS Cards display when search */

.artists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    color: white;
  }

  .artists-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    
  }

  .artists-container div img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }

  .artists-container div p {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .album-button-container,
.playlist-button-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

