
body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(4, 68, 73, 1));
  /* width: 100%;
  height: 100vh; */
  /* background-image: url(./Pictures/Welcomepage_background.png); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: -3rem;
  font-size: 30px;
}

.echo-beats-title {
   font-size: 60px;
    margin-top: 0px;
    margin-left: -3px;
    font-weight: 600;
}

.logo-container {
  width: 140px; 
}

.logo {
  width: 220px; 
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-right: 3rem;
  margin-top: -3rem;
}

.nav-list li {
  margin-left: 40px;
}

.nav-list li:first-child {
  margin-left: 0;
}

.nav-list li a {
  text-decoration: none;
  color:white;
  font-weight: bold;
  font-size: 25px;
  transition: color 0.3s ease;
}

.nav-list li a:hover {
  color: #17a0a7;
}


.navbar { 
  position: relative;
  z-index: 2; /* the navbar in front*/
}

.logout-nav {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.logout-nav:hover {
  color: #17a0a7;
}

/* WelcomeHeader */

.nav-button {
  background-color: #00C4CC;
  color: white;
  font-weight: bold;
  font-size: 25px;
  border: none;
  border-radius: 20px;
  padding: 5px 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5%;
  width: 100%; 
}

.nav-button:hover {
  background-color: #008D97;
}

/* Footer */

.copyright {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: white;
  padding: 20px 0;
}

.copyright p {
  margin: 0;
}

/* Media query for small screens */
@media screen and (max-width: 576px) {
  .copyright {
    font-size: 10px;
    padding: 15px 0;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 577px) and (max-width: 991px) {
  .copyright {
    font-size: 12px;
    padding: 20px 0;
  }
}

/* Media query for large screens */
@media screen and (min-width: 992px) {
  .copyright {
    font-size: 14px;
    padding: 25px 0;
  }
}

/* Home Page */

/* .welcome-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
  overflow: hidden;
} */

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('./Pictures/Welcomepage_background.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
  z-index: -1;
}

.left-section {
  position: relative;
  z-index: 1;
  color: white;
  margin-top: 3rem;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1; /*set the image behind*/
}

.right-section .image {
  max-width: 60%;
  height: auto;
  margin-top: -45%;
  margin-right: -5rem;
}

.echo-beats-title {
  margin-left: 5%;
}

.description {
  width: 50%;
  margin-left: 5%;
  font-size: 30px;
  padding-right: 5rem;
  margin-bottom: 50px;
}
.see-more-button {
  background-color: #00C4CC;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 5%;
}

.see-more-button:hover {
  background-color: #008D97;
}

/* About Page */

.about-container {
  margin: 20px;
  margin-top: -3rem;
}

h2 {
  color: white;
  font-size: 30px;
  
}
.p-about-container {
  padding-bottom: 0.5rem;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 2.5%;
  padding-right:2.5%;
}

.p-about-container p {
  color: black;
  font-size:larger;
}

h3 {
  color: white;
  font-size: 30px;
  margin-top: 20px;
}

p {
  color: #555555;
}

ul {
  color: white;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

.linkedin-container {
  margin-top: 20px;
}

.linkedin-link {
  display: inline-block;
  margin-top: 10px;
}

.linkedin-link img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.github-btn {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #127178;
  color: #ffffff;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
}

.github-btn:hover {
  background-color: #0d5260;
}

.github-container {
  margin-top: 1rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


/* NotFoundPage */

.container {
  background-color: #127178;
  opacity: 0.8;
  background-image: radial-gradient(circle at center center, #010103, #127178), repeating-radial-gradient(circle at center center, #010103, #010103, 10px, transparent 20px, transparent 10px);
  background-blend-mode: multiply;
}

h1 {
  color: #ffffff;
}

p {
  color: #ffffff;
}

.fun-text {
  display: block;
  color: #ffffff;
  font-size: 1.2em;
  margin-top: 20px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #ffffff;
  color: #127178;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.btn:hover {
  background-color: #127178;
  color: #ffffff;
}

/* Sign Up Page */

.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.signup-container h2 {
  text-align: center;
  color: #127178;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #127178;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0d5260;
}

.login-link-container {
  text-align: center;
  margin-top: 10px;
}

.login-link-container p {
  font-size: 14px;
  color: black;
}

.login-link-container a {
  color: #127178;
  text-decoration: none;
}

.login-link-container a:hover {
  text-decoration: underline;
}

/* Login Page */

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.login-container h1 {
  text-align: center;
  color: black;
  margin-bottom: 20px;
}

.login-container h2 {
  text-align: center;
  color: #127178;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #127178;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0d5260;
}

.signup-link-container {
  text-align: center;
  margin-top: 10px;
}

.signup-link-container p {
  font-size: 14px;
  color: black;
}

.signup-link-container a {
  color: #127178;
  text-decoration: none;
}

.signup-link-container a:hover {
  text-decoration: underline;
}

/* Contact Page */

.contact-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.contact-container h2 {
  text-align: center;
  color: #127178;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
  min-height: 120px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #127178;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0d5260;
}

.contact-info {
  text-align: center;
  margin-top: 20px;
}

.contact-info p {
  color: #555555;
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  .contact-container {
    max-width: 100%;
    padding: 20px;
  }
}
